@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family');
}

h2, h3  {
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none
}

.middle-image {
    width: 220px;
    height: 150px;
}