@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family');
}

body {
    background: rgb(246,172,36);
    background: linear-gradient(180deg, rgba(246,172,36,1) 10%, rgba(255,255,255,0.9895308465182948) 97%);
    height: 60vh;
    background-repeat: no-repeat;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.home-navbar {
    height: 20vh;
}

.home-navbar ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    display: flex;
    flex-direction: row;
}

.nav-container li {
    margin-top: 6vh;
    width: 8vw;
}

.logo {
    width: 8vw;
    height: 10vh;
}

.nav-container li, a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    color: white;
}

.nav-container a:hover {
    border-bottom: 5px solid white;
    font-size: 22px;
}

.subscribe-container .header-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.subscribe-container h1, h3 {
    margin: 0.5vh;
    font-weight: 550;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none
}

.middle-container {
    display: flex;
    justify-content: space-around;
}

.middle-container ol {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.middle-container .subscribe-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
    width: 28vw;
    border: none;
}

.subscribe-container .subscribe-input-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    margin-top: 5vh;
}

.subscribe-input {
    border-radius: 12px;
    padding: 1rem;
    padding-left: 2vw;
    padding-right: 3vw;
    border-style: outset;
    border: none;
    outline:none;
    font-size: 15px;
    box-shadow: 0px 2px 1px 1px rgb(202, 198, 198);
    border: 0.5px solid rgb(202, 198, 198); 
    border-bottom: 1.5px solid rgb(202, 198, 198);
}

.subscribe-input:focus {
    box-shadow: 0px 2px 1px 1px rgb(241, 150, 30);
}

.subscribe-button {
    color: white;
    background-color: rgb(247, 178, 100);
    font-weight: 650;
    font-size: 17px;
    border-radius: 9px;
    margin-left: 1.5vw;
    padding: 1rem;
    padding-left: 2vw;
    padding-right: 2vw;
    border: none;
}

.subscribe-button:hover {
    cursor: pointer;
}  

#cooking-img {
    border: none;
    width: 23vw;
    height: 38vh;
}

.middle-container li {
    height: 35vh;
    width: 28vw;
    margin: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-container li:nth-child(n+3) {
    border: none;
    box-shadow: 0px 2px 1px 1px rgb(202, 198, 198);
    border: 0.5px solid rgb(202, 198, 198); 
    border-bottom: 1.5px solid rgb(202, 198, 198);
    border-radius: 10px;
}

.middle-container img {
    height: 25vh;
    width: 22vw;
}

.middle-container img:hover {
    height: 27vh;
    width: 24vw;
}

.middle-container span {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-top: 2vh;
}

.bottom-container {
    height: 450px;
    background-color: rgb(240, 174, 99);
    display: flex;
    flex-direction: column;
}

.bottom-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 220px;
    margin-top: 5px;
    color: white;
}

.bottom-header-container .fa-solid {
    font-size: 30px;
}

.bottom-header-container h2 {
    font-size: 30px;
}

.bottom-container ol {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-right: 4vw;
    margin-left: 4vw;
    margin-top:  0px;
}

.bottom-container li {
    display: flex;
    justify-content:center;
    align-items: center;
}

.bottom-container img {
    width: 20vw;
    height: 21vw;
    border-radius: 10px;
    box-shadow: 0px 2px 1px 1px rgb(240, 151, 100);
}

.bottom-container img:hover {
    opacity: 0.5;
    transition: all 0.2s ease;
    background-color: black;
}

.bottom-container .description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: 600;
    opacity: 0;
    font-family: 'Open Sans', sans-serif;
}

.bottom-container .description-container p {
    margin: 2px;
}

.bottom-container img:hover ~ .description-container {
    transition: all 0.2s ease;
    opacity: 1;
}

.home-footer-container {
    height: 8vh;
}

.home-footer-container ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 4vw;
}

.fa-brands {
    font-size: 40px;
    margin-left: 3vw;
}